label{
    color: rgb(20, 20, 20);
}
input{
    background-color: white;
    border: 1px solid rgb(224, 224, 224);
    color: rgb(20, 20, 20);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
